<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'packages' %}" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-packages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recording Packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'packages' %}" class="dropdown-item">All Packages</a>
            </div>
        </li>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
        </a>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Equipment
        </a>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'packages' %}" class="dropdown-item">All Merchandise</a>
                <a href="{% url 'packages' %}" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'packages' %}" class="dropdown-item">Hoodies</a>
                <a href="{% url 'packages' %}" class="dropdown-item">Beanies</a>
                <a href="{% url 'packages' %}" class="dropdown-item">Mugs</a>
            </div>
        </li>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reviews
        </a>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Us
        </a>

        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="newsletter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Newsletter
        </a>

     
    </ul>
</div>