<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="booking-packages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Booking Packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="booking-packages-link">
                <a href="{% url 'packages' %}" class="dropdown-item">Browse All Packages</a>
                <a href="" class="dropdown-item">Gold Package</a>
                <a href="" class="dropdown-item ">Silver Package</a>
                <a href="" class="dropdown-item ">Bronze Package</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Guitars</a>
                <a href="" class="dropdown-item">Bass</a>
                <a href="" class="dropdown-item">Drums</a>
                <a href="" class="dropdown-item">Keys / Synths</a>
                <a href="" class="dropdown-item">Recording Equipment & Software</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
        </li>
 
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="newsletter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Newsletter
            </a>
        </li>
    </ul>
</div>