{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card-body bg-white text-center text-black">
    <h3>About Us </h3>
</div>
<div class="col-md-12 mt-6 d-flex justify-content-center bg-black text-center text-white text-uppercase" id="about_box">
    <strong style="letter-spacing: 2px;">Citadel Studios was founded in 2023 and situated at the very top of Ireland, in
        a refurbished Fort in Malin Head. <br> We provide recording space and services for... <br>
        <br>
        <li>Album / EP Recording</li>
        <li>Single Recording</li>
        <li>Audiobook / Narration Recording</li>
        <li>Audio Advertisement Recording</li>
        <br>
        <br>
        <p>If you have any queries regarding booking, please</p>
        <a href="{% url 'contact' %}" class="btn btn-contact text-uppercase" type="submit">Contact Us</a>
        <br>
        <br>
    </strong>

</div>
{% endblock %}